version: '2'
services:
  db:
    image: postgres
  django:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - .:/code
    image: krother/mkr_djangomkr_django
    ports:
      - "8000:8000"
    command: python /code/hello_world/manage.py runserver 0.0.0.0:8000
    depends_on:
      - db